In [3]:
from __future__ import division, absolute_import
import pandas as pd
import numpy as np
import datetime as dt
import forecastio
import requests
import os
import csv
import urllib
import json
from generate_data import *
from helpers import *

# set variables"
ds_api_key = '63ab81b2d8aee963f8e0c22cd4ec4650'
maps_api_key = 'AIzaSyDDNWV2QqV_SdygOs3A7ucVs-LNaL-PiUI'
source = 'locations.txt'
target = 'geocoded_locations.txt'

# generate geocoded locations file
get_geolocation_data(maps_api_key, source, target)

# generate weather data for each location and save as CSV
start_date = dt.datetime(2017, 1, 1)
end_date = dt.datetime(2017, 12, 31)
cols = 'historical_columns.txt'
offset = 12
get_weather_data(ds_api_key, target, cols, start_date, end_date, offset)

# get grouped dataset
filename = 'historical_data.csv'
df = aggregate_data(filename)

In [4]:
df

   Location  Year  Month     Pmin     Pmax  Tmean_high  Tmean_low  Hmin  Hmax
0    London  2017      1  1020.10  1028.28    3.336667  -0.543333  85.0  85.0
1    London  2017      2  1014.24  1022.40   11.210000   6.750000  84.0  86.0
2    London  2017      3   999.00  1032.40   14.590000   6.556667  79.0  84.0
3    London  2017      4  1023.78  1035.85   17.525000   8.385000  64.0  68.0
4    London  2017      5  1017.87  1018.65   20.713333  11.126667  64.0  73.0
5    London  2017      6  1010.57  1019.22   23.856667  15.543333  61.0  69.0
6    London  2017      7  1015.77  1021.77   21.835000  14.435000  60.0  72.0
7    London  2017      8  1011.06  1021.87   18.270000  11.910000  69.0  85.0
8    London  2017      9   993.88  1021.78   18.585000  11.320000  71.0  77.0
9    London  2017     10  1017.01  1022.80   15.170000   7.666667  67.0  71.0
10   London  2017     11   998.01  1019.76   13.545000   8.910000  70.0  72.0
11   London  2017     12  1003.32  1033.19    6.420000   2.236667  83.0  84.0
12   Moscow  2017      1  1011.74  1029.44   -4.013333  -6.716667  79.0  93.0
13   Moscow  2017      2  1010.70  1042.18   -6.625000 -11.145000  73.0  79.0
14   Moscow  2017      3   997.49  1017.23    5.053333   0.463333  68.0  89.0
15   Moscow  2017      4  1006.34  1022.44    5.170000  -2.865000  43.0  93.0
16   Moscow  2017      5  1016.39  1023.33   19.306667   5.900000  44.0  73.0
17   Moscow  2017      6  1003.28  1008.72   20.846667  12.420000  66.0  81.0
18   Moscow  2017      7  1007.34  1010.38   22.770000  15.820000  71.0  90.0
19   Moscow  2017      8  1014.60  1024.19   21.680000  13.323333  66.0  78.0
20   Moscow  2017      9  1014.63  1034.04   19.025000   9.490000  73.0  79.0
21   Moscow  2017     10   988.36  1013.54    8.493333   5.483333  81.0  94.0
22   Moscow  2017     11  1008.62  1020.03    0.905000  -0.525000  85.0  92.0
23   Moscow  2017     12  1009.47  1011.05    2.440000   0.470000  94.0  95.0
24   Sydney  2017      1  1003.78  1015.14   26.856667  20.216667  60.0  78.0
25   Sydney  2017      2  1006.71  1017.32   25.370000  19.185000  70.0  84.0
26   Sydney  2017      3  1014.02  1018.82   26.353333  20.693333  75.0  87.0
27   Sydney  2017      4  1023.32  1028.51   23.685000  14.145000  69.0  73.0
28   Sydney  2017      5  1017.09  1020.56   20.586667  12.626667  61.0  83.0
29   Sydney  2017      6  1019.81  1028.92   16.113333   9.250000  64.0  88.0
30   Sydney  2017      7  1020.82  1026.33   18.730000   8.580000  57.0  77.0
31   Sydney  2017      8  1009.28  1022.24   18.336667   8.660000  40.0  58.0
32   Sydney  2017      9  1005.96  1018.54   27.605000  17.750000  34.0  58.0
33   Sydney  2017     10  1006.75  1027.04   27.003333  17.486667  52.0  71.0
34   Sydney  2017     11  1019.47  1027.01   23.505000  15.055000  62.0  71.0
35   Sydney  2017     12  1009.55  1014.76   26.750000  19.653333  68.0  78.0