In [ ]:
from __future__ import division, absolute_import
import pandas as pd
import numpy as np
import datetime as dt
import forecastio
import requests
import os
import csv
import urllib
import json
from generate_data import *
from helpers import *

# set variables"
ds_api_key = '63ab81b2d8aee963f8e0c22cd4ec4650'
maps_api_key = 'AIzaSyDDNWV2QqV_SdygOs3A7ucVs-LNaL-PiUI'
source = 'locations.txt'
target = 'geocoded_locations.txt'

# generate geocoded locations file
get_geolocation_data(maps_api_key, source, target)

# # generate weather data for each location and save as CSV
start_date = dt.datetime(2017, 1, 1)
end_date = dt.datetime(2017, 12, 31)
cols = 'historical_columns.txt'
offset = 12
get_weather_data(ds_api_key, target, cols, start_date, end_date, offset)

In [42]:
from __future__ import division, absolute_import
import numpy as np
import pandas as pd
from generate_data import *
from helpers import *


class WeatherGenerator(object):
    """Randomly generates a dataset of artificial but realistic weather
    observations, including condition, temperature, humidity and pressure.
    """

    def __init__(self, obs, start_date, end_date, histdata, geodata):
        self.start_date = start_date
        self.end_date = end_date
        self.obs = obs
        self.geodata = pd.read_csv(get_filepath(geodata))
        self.histdata = aggregate_data(histdata)
        self.locations = self.histdata['Location'].unique().tolist()
        self.output = None

    def initialize_output(self):
        """Initializes an empty data frame to store randomly generate weather
        observations.
        """
        cols = ['Location', 'Position', 'Local Time',
                'Conditions', 'Temperature', 'Pressure', 'Humidity']

        # set dims and store as 'output' class variable
        rows = self.obs
        dims = len(cols)
        self.output = pd.DataFrame(np.zeros((rows, dims)), columns=cols)

    def generate_position_data(self):
        """Populates the 'Location' and 'Position' attributes of the output data
        frame.
        """
        # populate 'Location' field randomly
        self.output['Location'] = np.random.choice(self.locations, self.obs)

        # clean up geodata data frame and create 'Position' attribute
        nc = self.geodata[['Lat', 'Lng', 'Elevation']].round(2)
        nc['Elevation'] = nc['Elevation'].astype(int)
        self.geodata['Position'] = nc.astype(
            str).apply(lambda x: ','.join(x), axis=1)
        self.geodata.drop(columns=['Lat', 'Lng', 'Elevation'], inplace=True)

        # update "Position" column in output data frame
        left = self.output.set_index('Location')  # set left index
        right = self.geodata.set_index('Location')  # set right index
        self.output = left.loc[:, left.columns.union(right.columns)]  # union
        self.output.update(right)  # update self.output "Position" column
        self.output.reset_index(inplace=True)

    def generate_time_data(self):
        """Populates the 'Local Time' field sequentially, by location, using
        a date range from a randomly selected start date
        """
        # generate random dates and append to a list
        sd = self.start_date
        ed = self.end_date
        dates = [random_date(start=sd, end=ed) for d in range(0, obs)]

        # convert to ISO 8601 format and update "Local Time" field
        self.output['Local Time'] = map(lambda x: x.isoformat(), dates)

    def generate_weather_data(self):
        """Populates the 'Temperature', 'Humidity', and 'Pressure' attributes
        using historical values calculated on a monthly level
        """
        months = pd.to_datetime(self.output['Local Time']).dt.month
        self.output['Month'] = months  # set month values for later joins

        # merge output data frame with historical data to get ranges
        keys = ['Location', 'Month']
        m = pd.merge(self.output, self.histdata, how='left',
                     left_on=keys, right_on=keys)

        # use vectorization to uniformly select random pressure, temperature
        # and humidity values between the historical min and max ranges
        r = np.random.rand(m.shape[0])
        m['Temperature'] = ((m['Tmean_high'] - m['Tmean_low']
                             ) * r + m['Tmean_low']).round(1)
        m['Pressure'] = ((m['Pmax'] - m['Pmin']) * r + m['Pmin']).round(1)
        m['Humidity'] = ((m['Hmax'] - m['Hmin']) * r + m['Hmin']).astype(int)

        # drop redundant columns and assign to output
        dcols = ['Month', 'Timezone', 'Pmax', 'Pmin',
                 'Hmax', 'Hmin', 'Tmean_high', 'Tmean_low']
        m.drop(columns=dcols, inplace=True)
        self.output = m

In [43]:
# get grouped dataset
start_date = dt.datetime(2012, 1, 1)
end_date = dt.datetime(2015, 12, 31)
histdata = 'historical_data.csv'
geodata = 'geocoded_locations.txt'
obs = 100

weatherGenerator = WeatherGenerator(obs, start_date, end_date, histdata, geodata)
weatherGenerator.initialize_output()
weatherGenerator.generate_position_data()
weatherGenerator.generate_time_data()
weatherGenerator.generate_weather_data()
output = weatherGenerator.output
histdata = weatherGenerator.histdata
geodata = weatherGenerator.geodata

In [46]:
output.sort_values(['Location', 'Local Time'])

,Location,Conditions,Humidity,Local Time,Position,Pressure,Temperature
37,Anchorage,0.0,54,2013-03-23T10:02:29,"61.22,-149.9,33",1009.2,-7.1
6,Anchorage,0.0,49,2013-04-10T01:02:23,"61.22,-149.9,33",1000.2,0.3
64,Anchorage,0.0,64,2013-05-08T22:55:01,"61.22,-149.9,33",1007.9,6.4
42,Anchorage,0.0,67,2013-06-26T10:39:25,"61.22,-149.9,33",1006.7,15.5
49,Anchorage,0.0,78,2013-08-06T16:12:35,"61.22,-149.9,33",997.3,11.7
32,Anchorage,0.0,84,2013-11-14T01:23:15,"61.22,-149.9,33",1009.8,-8.6
10,Anchorage,0.0,87,2013-11-21T08:31:57,"61.22,-149.9,33",1013.7,-7.6
9,Anchorage,0.0,80,2013-12-29T02:27:55,"61.22,-149.9,33",994.7,-5.5
60,Anchorage,0.0,86,2014-02-01T03:00:48,"61.22,-149.9,33",1010.9,-9.0
3,Anchorage,0.0,63,2014-04-01T03:52:10,"61.22,-149.9,33",1014.8,5.9
36,Anchorage,0.0,66,2015-04-17T14:07:40,"61.22,-149.9,33",1018.5,7.3
13,Anchorage,0.0,85,2015-11-03T23:08:30,"61.22,-149.9,33",1010.4,-8.4
16,London,0.0,67,2013-10-27T03:28:27,"51.51,-0.13,7",1018.5,9.5
56,London,0.0,83,2015-12-15T04:44:16,"51.51,-0.13,7",1022.8,5.0
48,London,0.0,83,2015-12-19T06:08:58,"51.51,-0.13,7",1024.4,5.2
52,Melbourne,0.0,51,2012-09-15T00:36:50,"-37.81,144.96,10",1003.9,16.2
97,Melbourne,0.0,57,2012-11-23T08:17:11,"-37.81,144.96,10",1019.9,20.8
68,Melbourne,0.0,61,2012-12-13T15:55:37,"-37.81,144.96,10",1011.2,15.7
43,Melbourne,0.0,51,2013-04-15T14:21:32,"-37.81,144.96,10",1017.8,17.6
57,Melbourne,0.0,76,2014-08-03T11:39:10,"-37.81,144.96,10",1011.2,7.0
74,Melbourne,0.0,82,2015-05-17T08:29:06,"-37.81,144.96,10",1020.9,8.5
73,Melbourne,0.0,69,2015-07-17T15:40:56,"-37.81,144.96,10",1017.5,12.0
21,Melbourne,0.0,64,2015-12-12T17:44:45,"-37.81,144.96,10",1011.8,17.0
82,Miami,0.0,74,2012-02-22T10:36:43,"25.76,-80.19,0",1017.5,24.1
34,Miami,0.0,77,2012-07-19T03:14:28,"25.76,-80.19,0",1019.4,30.4
67,Miami,0.0,74,2013-05-27T04:43:08,"25.76,-80.19,0",1013.3,26.0
22,Miami,0.0,71,2015-08-26T00:08:00,"25.76,-80.19,0",1016.3,29.5
53,Miami,0.0,77,2015-12-18T10:44:34,"25.76,-80.19,0",1020.7,22.9
63,Montreal,0.0,79,2012-01-22T23:42:05,"45.5,-73.57,35",1013.5,-3.7
84,Montreal,0.0,77,2012-08-26T13:38:01,"45.5,-73.57,35",1012.2,19.5
...,...,...,...,...,...,...,...
28,Rome,0.0,72,2014-10-14T11:23:59,"41.9,12.5,52",1018.2,17.5
86,Rome,0.0,65,2015-04-03T13:54:43,"41.9,12.5,52",1021.3,14.7
20,Rome,0.0,75,2015-12-16T15:31:53,"41.9,12.5,52",1013.2,7.3
29,Shanghai,0.0,76,2012-11-14T22:20:21,"31.23,121.47,15",1021.7,14.4
44,Shanghai,0.0,77,2012-11-22T12:10:19,"31.23,121.47,15",1022.7,16.4
77,Shanghai,0.0,77,2012-11-26T18:00:24,"31.23,121.47,15",1022.5,16.0
95,Shanghai,0.0,65,2014-08-30T16:16:47,"31.23,121.47,15",1005.3,28.9
93,Shanghai,0.0,74,2014-10-01T05:51:20,"31.23,121.47,15",1022.1,17.0
41,Shanghai,0.0,62,2015-08-25T02:55:24,"31.23,121.47,15",1002.1,27.1
58,Shanghai,0.0,70,2015-12-07T10:10:59,"31.23,121.47,15",1028.5,6.4
51,Stockholm,0.0,62,2012-06-01T09:17:43,"59.33,18.07,19",1004.0,13.5
38,Stockholm,0.0,86,2012-08-02T06:03:24,"59.33,18.07,19",1010.2,18.1
79,Stockholm,0.0,83,2012-12-12T16:32:02,"59.33,18.07,19",991.4,-1.0
23,Stockholm,0.0,63,2013-06-07T23:30:50,"59.33,18.07,19",1004.5,13.9
33,Stockholm,0.0,72,2013-10-05T19:07:40,"59.33,18.07,19",989.0,5.7
11,Stockholm,0.0,82,2013-10-07T14:45:17,"59.33,18.07,19",1000.6,8.1
88,Stockholm,0.0,87,2013-10-31T06:33:28,"59.33,18.07,19",1005.5,9.1
81,Stockholm,0.0,84,2014-01-10T00:17:49,"59.33,18.07,19",1008.9,-1.1
70,Stockholm,0.0,81,2014-02-15T14:40:25,"59.33,18.07,19",1035.4,1.1
66,Stockholm,0.0,55,2014-05-17T16:26:36,"59.33,18.07,19",1026.3,13.8
54,Stockholm,0.0,89,2014-09-27T05:35:20,"59.33,18.07,19",1007.1,13.9
76,Stockholm,0.0,84,2015-01-14T18:32:02,"59.33,18.07,19",1011.7,-0.7
35,Stockholm,0.0,95,2015-09-03T04:07:07,"59.33,18.07,19",1022.3,16.0
47,Sydney,0.0,68,2012-05-23T04:49:58,"-33.87,151.21,24",1018.2,15.2
5,Sydney,0.0,72,2014-01-27T11:17:12,"-33.87,151.21,24",1011.9,24.9
87,Sydney,0.0,70,2014-02-22T07:38:36,"-33.87,151.21,24",1007.3,19.5
18,Sydney,0.0,71,2014-04-25T05:20:48,"-33.87,151.21,24",1026.8,20.5
65,Sydney,0.0,69,2014-11-20T23:48:30,"-33.87,151.21,24",1025.7,22.0
78,Sydney,0.0,71,2015-02-21T17:14:06,"-33.87,151.21,24",1007.6,19.7
89,Sydney,0.0,57,2015-09-14T20:44:58,"-33.87,151.21,24",1018.2,27.4