In [1]:
from __future__ import division, absolute_import
import pandas as pd
import numpy as np
import datetime as dt
import forecastio
import requests
import os
import csv
import urllib
import json
from generate_data import *
from helpers import *
from weather_generator import *
from markov_chain import *

# set variables"
ds_api_key = '63ab81b2d8aee963f8e0c22cd4ec4650'
maps_api_key = 'AIzaSyDDNWV2QqV_SdygOs3A7ucVs-LNaL-PiUI'
source = 'locations.txt'
target = 'geocoded_locations.txt'

# generate geocoded locations file
# get_geolocation_data(maps_api_key, source, target)

# # generate weather data for each location and save as CSV
start_date = dt.datetime(2017, 1, 1)
end_date = dt.datetime(2017, 12, 31)
cols = 'historical_columns.txt'
offset = 12
# get_weather_data(ds_api_key, target, cols, start_date, end_date, offset)

In [6]:
# get grouped dataset
start_date = dt.datetime(2012, 1, 1)
end_date = dt.datetime(2015, 12, 31)
histdata = 'historical_data.csv'
geodata = 'geocoded_locations.txt'
obs = 1,000,000

weatherGenerator = WeatherGenerator(obs, start_date, end_date, histdata, geodata)
weatherGenerator.initialize_output()
weatherGenerator.generate_position_data()
weatherGenerator.generate_time_data()
weatherGenerator.generate_weather_data()
weatherGenerator.generate_condition_data()
output = weatherGenerator.output
histdata = weatherGenerator.histdata
geodata = weatherGenerator.geodata

In [12]:
output.filter(items=['Conditions'])

       Conditions
0           Sunny
1           Sunny
2            Rain
3           Sunny
4           Sunny
5           Sunny
6            Rain
7           Sunny
8            Rain
9           Sunny
10          Sunny
11          Sunny
12           Rain
13          Sunny
14           Rain
15           Rain
16          Sunny
17          Sunny
18           Rain
19          Sunny
20          Sunny
21          Sunny
22          Sunny
23          Sunny
24          Sunny
25          Sunny
26           Rain
27           Rain
28          Sunny
29          Sunny
...           ...
999970      Sunny
999971      Sunny
999972      Sunny
999973      Sunny
999974      Sunny
999975      Sunny
999976      Sunny
999977      Sunny
999978      Sunny
999979      Sunny
999980       Rain
999981      Sunny
999982      Sunny
999983       Rain
999984      Sunny
999985      Sunny
999986      Sunny
999987      Sunny
999988       Rain
999989      Sunny
999990      Sunny
999991      Sunny
999992      Sunny
999993      Sunny
999994      Sunny
999995      Sunny
999996       Rain
999997      Sunny
999998      Sunny
999999      Sunny

[1000000 rows x 1 columns]

In [ ]:
output[['Conditions' == 'Snow']]